.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .red {
    border: 1px solid gray;
    background-color: black;
    min-width: 8px;
    min-height: 8px;
  }

  .white {
    border: 1px solid gray;
    background-color: white;
    min-width: 8px;
    min-height: 8px;
  }
}
