.flex {
  display: flex;
  height: auto;
  align-items: center;
  width: 100%;
  .y-axis {
    writing-mode: tb-rl;
    transform:rotate(180deg);
    font-size: 12px;
  }
  .flex-item {
    width: 100%;
    height: 380px;
    .x-axis {
      display: flex;
      justify-content: center;
      font-size: 12px;
    }
  }
}
