<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Граф">
    <div class="board">
      <div class="timer" [style.visibility]="processingTime ? 'visible' : 'hidden'">
        {{ processingTime }} мс
      </div>
      <div id="canvas-wrapper" class="wrapper">
        <canvas id="area-canvas" width="900" height="580">
          HTML5 Unsupported.
        </canvas>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Результати">
    <app-line-chart></app-line-chart>
  </mat-tab>
</mat-tab-group>

